# Python
__pycache__/
*.pyc
.venv/
venv/

# Environment
.env

# Data (structure tracked, contents ignored)
data/raw/*
data/raw/complaints.csv     #actual raw data (csv format)
data/curated/*.csv
data/staging/*.csv
data/staging/*
data/curated/*
!data/raw/.gitkeep
!data/staging/.gitkeep
!data/curated/.gitkeep

# Airflow
logs/*
*.log
!logs/.gitkeep

# OS/editor
.DS_Store
.vscode/
.idea/